{% extends 'base.html' %}
{% load i18n %}

{% block boby %}
    <div class="container-fluid h-100">
        <div class="offset-sm-1 col-sm-10 h-100">
            {% if art %}
                <div>
                    <p class="text-center h2">{{ art.title }}</p>
                    <div class="text-right row">
                        <span class="col-md-12 text-secondary">{% trans '编辑' %}: {{ art.author }}</span>
                        <span class="col-md-12 text-secondary">{% trans '发布时间' %}: {{ art.create_time }}</span>
                        <span class="col-md-12 text-secondary">{% trans '最近更新时间' %}: {{ art.modify_time }}</span>
                    </div>
                </div>
                <hr>
                <div>{{ art.content|safe }}</div>
            {% else %}
                <div>
                    <p class="text-center">{% trans '未发布当前语言版本的内容' %}</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
