{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block boby %}
    <div class="container-fluid">
        {# 大图轮播 #}
        <div class="bg-light">
            <div>
                <div id="carousel-highlight-cases" class="carousel slide" data-ride="carousel" data-pause="false">
                    <ol class="carousel-indicators">
                        {% for h in highlights %}
                            <li data-target="#carousel-highlight-cases" data-slide-to="{{ forloop.counter0 }}"
                                {% if forloop.counter0 == 0 %}class="active"{% endif %}>
                            </li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner" style="max-height: 600px;">
                        {% for h in highlights %}
                            {% if forloop.counter0 == 0 %}
                                <div class="carousel-item active">
                            {% else %}
                                <div class="carousel-item">
                            {% endif %}
                            <a href="{% url 'article:pub-detail' h.id %}" target="_blank">
                                <img src="{{ h.cover_image.url }}" class="d-block w-100 mh-100" alt="">
                            </a>
                            <div class="carousel-caption d-none d-md-block">
                                {% with art=h.articles|first %}
                                    {% if art %}<p>{{ art.summary }}</p>{% endif %}
                                {% endwith %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carousel-highlight-cases" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-highlight-cases" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="bg-light mt-2">
            <div class="card-deck">
                <div class="card">
                    <div class="card-header text-center">{% trans '指标案例' %}</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for p in study_pubs %}
                                {% with art=p.articles|first %}
                                    {% if art %}
                                        <li class="list-group-item">
                                            <a href="{% url 'article:pub-detail' p.id %}" target="_blank" title="{{ art.title }}">{{ art.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                            {% ifequal study_pubs|length display_limit %}
                                <li class="list-group-item">
                                    <a href="{% url 'article:pub-list' %}?topic={{ study_pubs.0.topic }}" target="_blank">{% trans '浏览更多' %} >></a>
                                </li>
                            {% endifequal %}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">{% trans '最新动态' %}</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for p in new_pubs %}
                                {% with art=p.articles|first %}
                                    {% if art %}
                                        <li class="list-group-item">
                                            <a href="{% url 'article:pub-detail' p.id %}" target="_blank" title="{{ art.title }}">{{ art.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                            {% ifequal new_pubs|length display_limit %}
                                <li class="list-group-item">
                                    <a href="{% url 'article:pub-list' %}?topic={{ new_pubs.0.topic }}" target="_blank">{% trans '浏览更多' %} >></a>
                                </li>
                            {% endifequal %}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">{% trans '数据共享' %}</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for p in share_pubs %}
                                {% with art=p.articles|first %}
                                    {% if art %}
                                        <li class="list-group-item">
                                            <a href="{% url 'article:pub-detail' p.id %}" target="_blank" title="{{ art.title }}">{{ art.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                            {% ifequal share_pubs|length display_limit %}
                                <li class="list-group-item">
                                    <a href="{% url 'article:pub-list' %}?topic={{ share_pubs.0.topic }}" target="_blank">{% trans '浏览更多' %} >></a>
                                </li>
                            {% endifequal %}
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">{% trans '前沿扫描' %}</div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            {% for p in update_pubs %}
                                {% with art=p.articles|first %}
                                    {% if art %}
                                        <li class="list-group-item">
                                            <a href="{% url 'article:pub-detail' p.id %}" target="_blank" title="{{ art.title }}">{{ art.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                            {% ifequal update_pubs|length display_limit %}
                                <li class="list-group-item">
                                    <a href="{% url 'article:pub-list' %}?topic={{ update_pubs.0.topic }}" target="_blank">{% trans '浏览更多' %} >></a>
                                </li>
                            {% endifequal %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-7 h-100">
                    <div class="text-center">地球大数据支撑可持续发展目标<br>Big Earth Data for the Sustainable Development Goals</div>
                    <hr>
                    <div class="container-fluid text-center">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 mt-2">
                                <a href="#">
                                    <div class="card h-100">
                                        <img src="{% static 'images/pic/ZeroHunger.png' %}" class="card-img-top h-75" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{% trans '零饥饿' %}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mt-2">
                                <a href="#">
                                    <div class="card h-100">
                                        <img src="{% static 'images/pic/CleanWater.jpg' %}" class="card-img-top h-75" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">{% trans '清洁饮水和卫生设施' %}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mt-2">
                                <a href="#">
                                    <div class="card h-100">
                                        <img src="{% static 'images/pic/cities.png' %}" class="card-img-top h-75" alt="...">
                                        <div class="card-body h-25">
                                            <h5 class="card-title">{% trans '可持续城市和社区' %}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mt-2">
                                <a href="#">
                                    <div class="card h-100">
                                        <img src="{% static 'images/pic/ClimateAction.jpg' %}" class="card-img-top h-75" alt="...">
                                        <div class="card-body h-25">
                                            <h5 class="card-title">{% trans '气候行动' %}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mt-2">
                                <a href="#">
                                    <div class="card h-100">
                                        <img src="{% static 'images/pic/lifeBelowWater.jpg' %}" class="card-img-top h-75" alt="...">
                                        <div class="card-body h-25">
                                            <h5 class="card-title">{% trans '海洋生态' %}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-12 col-md-6 mt-2">
                                <a href="#">
                                    <div class="card h-100">
                                        <img src="{% static 'images/pic/lifeOnLand.jpg' %}" class="card-img-top h-75" alt="...">
                                        <div class="card-body h-25">
                                            <h5 class="card-title">{% trans '陆地生物' %}</h5>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 h-100">
                    <div class="text-center">SDG球<br>Virtual earth of SDG</div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="mt-2">
                                <a href="#">
                                    <div class="card">
                                        <img src="{% static 'images/pic/virtEarth.jpg' %}" class="card-img-top" alt="...">
                                    </div>
                                </a>
                            </div>
                            <div>
                                <a href="#">
                                    <div class="card">
                                        <img src="{% static 'images/pic/virtEarth2.jpg' %}" class="card-img-top" alt="...">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# 底部参与单位轮播图 #}
        <div class="container-fluid mt-5 mb-5 bg-light">
            <div id="carousel-participants" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="text-center">
                            <a href="#"><img class="shadow-sm" src="{% static 'images/logo/participants/logo1.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo1.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo1.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo1.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo1.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo1.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo1.jpg' %}" height="60" alt="..."></a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="text-center">
                            <a href="#"><img class="shadow-sm" src="{% static 'images/logo/participants/logo2.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo2.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo2.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo2.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo2.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo2.jpg' %}" height="60" alt="..."></a>
                            <a class="shadow-sm" href="#"><img src="{% static 'images/logo/participants/logo2.jpg' %}" height="60" alt="..."></a>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-participants" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon bg-info" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-participants" role="button" data-slide="next">
                    <span class="carousel-control-next-icon bg-info" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
